<div class="cloud"></div>

<style>
	.cloud {
		width: 50%;
		height: 50%;
	}
</style>


<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.164.1/build/three.module.js",
			"loader": "https://cdn.jsdelivr.net/npm/three@0.164.1/examples/js/loaders/GLTFLoader.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.164.1/examples/jsm/"
		}
	}
</script>
<script src=></script>
<script src=""></script>
<script type="module">
import * as THREE from 'three';
import { PointerLockControls } from 'three/addons/controls/PointerLockControls.js';
import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';
	
const width = window.innerWidth/2, height = window.innerHeight/2;

// init

const camera = new THREE.PerspectiveCamera( 70, width / height, 0.01, 1000 );
camera.position.z = 1

const scene = new THREE.Scene();
const cloud = document.querySelector('.cloud');

const geometry = new THREE.BoxGeometry( 1,1,1 );
const material = new THREE.MeshNormalMaterial();

const mesh = new THREE.Mesh( geometry, material );
scene.add( mesh );

const renderer = new THREE.WebGLRenderer( { antialias: true } );
renderer.setSize( width, height );

const controls = new PointerLockControls( camera, renderer.domElement );
controls.movementSpeed = 10;
controls.isLocked = false

const clock = new THREE.Clock();
const globalDir = new THREE.Vector3( 0, 0, 0 );

cloud.appendChild( renderer.domElement );

window.addEventListener( 'resize', onWindowResize );

function onWindowResize() {

	camera.aspect = width / height;
	camera.updateProjectionMatrix();

	renderer.setSize( width, height );
	//controls.handleResize();
}
// animation

let moveForward = false;
let moveBackward = false;
let moveLeft = false;
let moveRight = false;
let canJump = false;

const velocity = 0.1;

window.addEventListener( "mousedown", onMouseDown, false );
window.addEventListener( "mouseup", onMouseUp, false );

function onMouseDown( event ) {
	controls.isLocked = true
}

function onMouseUp( event ) {
	controls.isLocked = false
}

const onKeyDown = function ( event ) {

	switch ( event.code ) {

		case 'ArrowUp':
		case 'KeyW':
			moveForward = true;
			break;

		case 'ArrowLeft':
		case 'KeyA':
			moveLeft = true;
			break;

		case 'ArrowDown':
		case 'KeyS':
			moveBackward = true;
			break;

		case 'ArrowRight':
		case 'KeyD':
			moveRight = true;
			break;

	}

};

const onKeyUp = function ( event ) {

	switch ( event.code ) {

		case 'ArrowUp':
		case 'KeyW':
			moveForward = false;
			break;

		case 'ArrowLeft':
		case 'KeyA':
			moveLeft = false;
			break;

		case 'ArrowDown':
		case 'KeyS':
			moveBackward = false;
			break;

		case 'ArrowRight':
		case 'KeyD':
			moveRight = false;
			break;

	}

};

document.addEventListener( 'keydown', onKeyDown );
document.addEventListener( 'keyup', onKeyUp );

function animate() {
	requestAnimationFrame( animate );

	
	if ( moveForward ) controls.moveForward( velocity );
	if ( moveBackward ) controls.moveForward( -velocity );

	if ( moveLeft ) controls.moveRight( -velocity );
	if ( moveRight ) controls.moveRight( velocity );

	renderer.render( scene, camera );

}
animate()
</script>