{{ $images := .Page.Resources.ByType "image" }}

{{ $filter := .Get "filter" | default false }}

{{ if $filter }}
    {{ $images = (.Page.Resources.Match $filter) }}
{{ end }}

{{ $hover := .Get "hover" | default "none" }}
{{ $caption := .Get "caption" | default "clip" }}

{{ $sort := .Get "sort" | default "Name desc" }}

{{ $sortOptions := (split $sort " ") }}

{{ $layout := .Get "layout" | default "waterfall" }}

{{ $size := (int (.Get "size")) | default 190 }}

{{ $margin := .Get "margin" | default 0 }}

{{ $preview := .Get "preview" | default "blur" }}

{{ $limitHeight := true }}

{{ if eq $layout "waterfall" }}
    {{ $limitHeight = false }}
{{ end }}

<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>

<style>
    .grid {
        height: 100%
    }
    
    .grid-item {
        display: flex;
    }

    .item-content {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .item-content > a > img {
        display: block;
        border-radius: 0;
        margin: 0;
    }

    .crop-image {
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        object-fit: cover;
    }

    img {
        transition: opacity 0.25s ease-in-out;
    }

    .item-content:hover img {
        opacity: 0;
    }

    .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        word-break: break-all;

        text-align: center;
        font-size: 1em;
        font-weight: bold;
        padding: 10px;
        
        background-size: cover;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        cursor: pointer;
    }

    .item-content:hover .caption {
        opacity: 1;
    }

</style>

<div id="gallery-{{ .Page.File.Dir }}" class="grid" >
    {{ with $images }}
    {{ range sort . (index $sortOptions 0) (index $sortOptions 1) }}
    {{ if eq .ResourceType "image" }}
    
    {{ $scale := $size }}
    {{ if eq $layout "mosaic" }}
        {{ $scale = (mul $size (div ( index (seq 3 | shuffle) 0 ) 2.0) ) }}
    {{ end }}

    {{ $origional_thumbnail := (.Resize (print (mul $scale 2) "x" " png" )) }}
    {{ $thumbnail := $origional_thumbnail }}
    {{ $thumbnail := $thumbnail.Resize (print (div $scale 3) "x" " png" ) }}

    {{ $clip_img := $thumbnail.Filter (images.GaussianBlur 1) }}

    {{ if eq $preview "blur" }}
        {{ $thumbnail = $thumbnail.Filter (images.GaussianBlur 2) }}
    {{ else if eq $preview "pixelate" }}
        {{ $thumbnail = $thumbnail.Filter (images.Pixelate 8) }}
    {{ else if eq $preview "monotone" }}
        {{ $thumbnail = $thumbnail.Resize ("1x1 box png") }}
    {{ end }}

    {{ $caption := replaceRE "^(.+/)*" "" . | replaceRE "\\..*" "" | replaceRE "^\\d{4}-\\d{2}-\\d{2}-" "" | humanize  }}
    
    {{ $imgHeight := "" }}
    {{ if $limitHeight }}
        {{/* Use fixed scale for mosaic/crop */}}
        {{ $imgHeight = $scale }}
    {{ else }}
        {{/* Calculate proportional height for waterfall */}}
        {{ $imgHeight = int (mul (div (float .Height) .Width) $scale) }}
    {{ end }}
    <div class="grid-item">
        <div class="item-content">
            <a href="{{ .RelPermalink }}" >
                <img 
                width="{{ $scale }}" 
                height="{{ $imgHeight }}" 
                src="{{ $thumbnail.RelPermalink }}" 
                class="lazy crop-image"
                data-src="{{ $origional_thumbnail.RelPermalink }}"
                />

                <div class="caption" style="background-image: url({{ $clip_img.RelPermalink }})">
                    {{ $caption }}
                </div>
            </a>
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>


<script>
    // 1. Get the grid element
    var grid = document.querySelector('.grid');
    
    // 2. Initialize Packery
    var pckry = new Packery(grid, {
        itemSelector: '.grid-item',
    });

    // 3. Initialize LazyLoad
    var lazyLoadInstance = new LazyLoad({
        // 4. Add the callback
        callback_loaded: function(element) {
            // 5. Tell Packery to re-layout *after* an image loads
            pckry.layout();
        }
    });
</script>